<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alutka Mowi API</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="//fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
</head>
<body>
    <h1>Alutka Mówi:</h1>
    <img src="//raw.githubusercontent.com/matsta25/alutkaMowiAPI/master/alutkaGIF.gif" alt="alt tag">
    
    
    <p>"<%= text %>"</p>
    <div class="bottom">
    Wejdz na <a href="http://alutkamowi.herokuapp.com/api" target="_blank">http://alutkamowi.herokuapp.com/api</a> aby otrzymac JSON'na z losowym cytatem Alutki.<br>
    Aktualnie w bazie danych znajduja sie 169 cytaty.
</div>

</body>
</html>